.container3 {
    width: 100vw;
    height: 10vh;
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15px;
}