body {
    padding: 0px;
}
.container{
    width: 99.9vw;
    height: 10vh;
    border: 1px solid #cecdcd;
    border-top: hidden;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    color: black;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-right: 340px;
    margin-left: 15px;
}
.logo{
    
    width: 6vw;
    bottom: 75px;
    height: 26vh;
    position: relative;
}
.keep{
    color: #5f6368;
    font-family: "Product Sans",Arial,sans-serif;
    font-size: 22px;
    opacity: 1;
    font-weight: 500;
    position: relative;
    margin-left: -30px;
}
.search{
    width: 52%;
    height: 70%;
    background-color: #F0F0F0;
    border: 1px solid #E0E0E0;
    border-radius:8px ;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: 2px 2px 2px #e0e0e0;
    margin-right: 230px;
    margin-left: -280px;
    margin-top: 10px;
}
.icon{
    position: relative;
    margin-left: 5px;
    margin-top: 8px;
}
.input{
    position: relative;
    margin-top: 12px;
}
.icons2{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 50px;
}
.icons3{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 30px;
}